<div class="container">
    <div class="row">
        @if (filterleftNavs == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul class="breadcrumb wizard">
                @foreach (var leftNav in filterleftNavs)
                {
                    <li class="completed"><a href="@leftNav.href">@leftNav.menuName</a></li>
                }
                
            </ul>
        }
    </div><p>@selectedLeftNav</p>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string selectedLeftNav { get; set; }
    [Parameter]
    public List<LeftNavMenu> filterleftNavs { get; set; }
}
