<footer class="footer-area footer--light">
    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>
                            © 2021
                            <a href="#">Wipro</a>. All rights reserved. Created by
                            <a href="#">Wipro Limited.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
@code {
    [Parameter]
    public string Title { get; set; }
}
