@inject HttpClient Http
 
<div>
    @if (roleDatas == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <select class="form-control" @onchange="RoleSelection">
            
            @foreach (var role in roleDatas)
            {
                <option value="@role.RoleId">@role.Role</option>

            }
        </select>

    }
</div>
@code {
    private bool collapseNavMenu = true;
    [Parameter]
    public RoleData[] roleDatas { get; set; }
    [Parameter]
    public Action<string> RoleChange { get; set; }

    void RoleSelection(ChangeEventArgs roleEvent)
    {
        if (roleEvent != null)
        {
            RoleChange(roleEvent.Value.ToString());
            
        }
    }
}
