@page "/address"
@using Microsoft.Extensions.Logging
@inject ILogger<Address> Logger
@inject NavigationManager NavigationManager
<EditForm Model="@address" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-sm-3">
            House Number
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <InputText id="name" @bind-Value="address.HouseNumber" class="form-control" />

            </div>
        </div>
        <div class="col-sm-3">
            Street/Building Name
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <InputText id="name" @bind-Value="address.StreetBuildingName" class="form-control" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Principal Street
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <InputText id="name" @bind-Value="address.PrincipalStreet" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            City
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <InputText id="name" @bind-Value="address.City" class="form-control" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Post Code
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <InputText id="name" @bind-Value="address.PostCode" class="form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            Extract Reason
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <InputSelect @bind-Value="address.ExtractReason" class="form-control">
                    <option value="">-Select-</option>
                    <option value="Reason1">Reason1</option>
                    <option value="Reason2">Reason2</option>
                    <option value="Reason3">Reason3</option>
                </InputSelect>
            </div>
        </div>

    </div>
</EditForm>
@code{

    Models.Address address = new Models.Address();
    string message = "Search page loaded!";
    string messageType = "";

    protected override void OnInitialized()
    {

    }

    private void HandleValidSubmit()
    {
        try
        {
            Logger.LogInformation("HandleValidSubmit called");
            message = "Successfully created network details.";
            messageType = "success";
            StateHasChanged();
        }
        catch (Exception ex)
        {
            message = ex.ToString();
            messageType = "error";
        }
    }

    protected void HandleInvalidSubmit()
    {
        messageType = "validation";
        message = DateTime.Now + " Handle invalid submit";
    }
}